/* COLOR VARIABLES*/
:root {
  --header-bg-color: #F4F5F6;
  --header-ft-color: #171c24;
  --site-bg-color: #F4F5F6;
  --highlight-light: #6DE3C8;
  --highlight-dark: #4773DC;
  --highlight-dark-hover: rgba(var(--highlight-dark), 40%);
  --accent-dim: #eee;
  --font-color: #171c24;
  --form-outline: rgba(71, 115, 220, 0.3);
  --form-outline-hover: rgba(71, 115, 220, 0.1);
  --card-box-shadow: 0 1px 2px 0 rgba(61, 65, 68, 0.06), 0 1px 3px 1px rgba(61, 65, 68, 0.16);
  --overview-app-shadow: rgba(23,28,36,0.15);
  --under-box-shadow: 0 4px 4px -2px #eee;
  --search-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
}

body {
  background-color: var(--site-bg-color);
  color: var(--font-color);
  font-family: "Segoe UI", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
}
.content strong {
  font-weight:600
}

@media only screen and (min-width: 1300px) {
  .container{
    width: 1270px;
  }
}

@media only screen and (min-width: 1400px) {
  .container{
    width: 1370px;
  }
}

@media only screen and (min-width: 1500px) {
  .container{
    width: 1470px;
  }
}

@media only screen and (min-width: 1600px) {
  .container{
    width: 1570px;
  }
}

@media only screen and (min-width: 1700px) {
  .container{
    width: 1670px;
  }
}

/* HIGHLIGHT COLOR */

.breadcrumb  a {
  color: var(--font-color);
}
.breadcrumb {
    font-size: 14px;
}

.breadcrumb > li + li:before {
  padding: 0 5px 0 3px;
}


button,
a {
  -webkit-transition: all 250ms ease-in-out;
  -khtml-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  color: var(--highlight-dark);
  cursor: pointer;
}

button:hover,
button:focus,
a:hover,
a:focus {
  color: var(--highlight-light);
  text-decoration: none;
}

/* TOC */

@media only screen and (min-width: 1200px) {
  .article.grid-right{
    margin-left: 350px;
    padding-left: 15px;
  }
  .sidefilter{
    width: 350px;
  }
}

@media only screen and (min-width: 1200px) {
  .sidetoc{
    width: 350px;
    background-color: var(--site-bg-color);
  }
}

.sidefilter{
  background-color: var(--site-bg-color);
}


.toc .nav > li.active > a {
  color: var(--font-color);
}

.toc .nav > li.active > a:hover,
.toc .nav > li.active > a:focus {
  color: var(--highlight-light);
}

.toc .nav > li > a:hover,
.toc .nav > li > a:focus {
  color: var(--highlight-light);
}

.toc {
  padding: 0 0 20px 0;
  background-color: var(--site-bg-color);
}

.toc ul{
  font-size: 12px;
}

.toc .level1 > li {
  font-size: 14px;
}
.toc .level2 {
  font-size: 14px;
  margin: 5px 0 0 0px;
}


/* Pagination */

.pagination > .active > a {
  background-color: var(--header-bg-color);
  border-color: var(--header-bg-color);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: var(--highlight-light);
  border-color: var(--highlight-light);
}

/* HEADINGS */

h1 {
  font-weight: 600;
  font-size: 32px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.8;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.8;
}

h5 {
  font-size: 14px;
  padding: 10px 0px;
  font-weight: bolder;
}
h6 {
  font-size: 14px;
  padding: 10px 0px;
  font-weight: bolder;
}

article h1,
article h2,
article h3,
article h4 {
  margin-top: 35px;
  margin-bottom: 15px;
}

article h4 {
  padding-bottom: 8px;
  border-bottom: 2px solid #ddd;
}

/* NAVBAR */

.navbar-brand > img {
  color: var(--header-ft-color);
  width: 150px;
  padding-top: 12px;
}

.navbar {
  border: none;
  /* Both navbars use box-shadow */
  -webkit-box-shadow: var(--card-box-shadow);
  -moz-box-shadow: var(--card-box-shadow);
  box-shadow: var(--card-box-shadow);
}

.subnav {
  border-top: 1px solid #ddd;
  background-color: #fff;
  min-height: 41px;
}

.navbar-inverse {
  background-color: var(--header-bg-color);
  z-index: 100;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-text {
  color: var(--header-ft-color);
  background-color: var(--header-bg-color);
  height: 60px;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  padding-bottom: 12px;
  line-height: 30px;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -khtml-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: var(--highlight-light);
  background-color: var(--header-bg-color);
  border-bottom: 3px solid var(--highlight-light);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: var(--header-ft-color);
  background-color: var(--header-bg-color);
  border-bottom: 3px solid white;
}

.navbar-form .form-control {
  border: 0;
  border-radius: 0;
  font-size: 16px;
  outline: 1px inset var(--form-outline);
  color: #000;
}

.navbar-form {
  width: 40%;
}

.form-control::placeholder {
  color: #666666;
}

.navbar-form .form-control:hover {
  box-shadow: var(--search-box-shadow);
  outline: 1px inset var(--form-outline-hover);

}

.navbar-form .form-control:focus {
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.navbar-right {
  padding: 5px 10px;
}

/* NAVBAR TOGGLED (small screens) */

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}
.navbar-inverse .navbar-toggle {
  box-shadow: var(--card-box-shadow);
  border: none;
  background-color: var(--highlight-dark);
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: var(--highlight-dark-hover);
}

/* SIDEBAR */

.toc .level1 > li {
  font-weight: 400;
}

.toc .nav > li > a {
  color: var(--font-color);
}

.sidefilter {
  background-color: var(--site-bg-color);
  border-left: none;
  border-right: none;
}

.sidefilter {
  background-color: var(--site-bg-color);
  border-left: none;
  border-right: none;
  padding: 20px;
  padding-left: 0;
}

.toc-filter {
  padding: 0;
  margin: 10px 0;
}

.toc-filter > input {
  border: 0;
  border-radius: 0;
  outline: 1px inset var(--form-outline);
  color: #000;
  padding: 6px 12px;
}

.toc-filter > input::placeholder {
  color: #666666;
}

.toc-filter > input:hover {
  box-shadow: var(--search-box-shadow);
  outline: 1px inset var(--form-outline-hover);

}

.toc-filter > input:focus {
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.toc-filter > .filter-icon {
  display: none;
}

.sidetoc > .toc {
  background-color: var(--site-bg-color);
  overflow-x: hidden;
}

.sidetoc {
  background-color: var(--site-bg-color);
  border: none;
  top: 165px;
}

.sidetoc.shiftup {
  bottom: 80px;
}

/* ALERTS */

.alert.TIP{
  background-color: #d2f9d2;
}

.alert.TIP > h5{
  color: #094409
}

.alert.TIP h5::before{
  content: "\e125";
}
.alert.TIP > h6{
  color: #094409
}

.alert.NOTE{
  background-color: #e2daf1;
}

.alert.NOTE > h5{
  color: #38225d;
}

.alert.NOTE h5::before{
  content: "\e101";
}

.alert.NOTE > h6{
  color: #38225d;
}

.alert.IMPORTANT{
  background-color: #e0f2ff;
}

.alert.IMPORTANT > h5{
  color: #002b4d
}

.alert.IMPORTANT h5::before{
  content: "\e086";
}

.alert.IMPORTANT > h6{
  color: #002b4d
}

.alert.WARNING{
  background-color: #fff4ce;
}

.alert.WARNING > h5{
  color: #8e562e;
}

.alert.WARNING h5::before{
  content: "\e107";
}

.alert.WARNING > h6{
  color: #8e562e;
}

.alert.CAUTION{
  background-color: #fed9cc;
}

.alert.CAUTION > h5{
  color: #975945;
}

.alert.CAUTION h5::before{
  content: "\e083";
}

.alert.CAUTION > h6{
  color: #975945;
}

.alert {
  padding: 15px 10px;
  color: inherit;
  background-color: inherit;
  border: none;
  border-radius: 10px;
}

.alert > p {
  margin-bottom: 0;
  padding: 5px 10px;
}

.alert > ul {
  margin-bottom: 0;
  padding: 5px 40px;
}

.alert > h5 {
  padding: 10px 15px;
  font-size: 16px;
  margin-top: 0;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  text-transform: none;
  margin-bottom: 0px;
}

.alert > h6 {
  padding: 10px 10px 0px;
  font-size: 16px;
  margin-top: 0;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  text-transform: none;
  margin-bottom: 0px;
}

.alert h6 {
  font-weight: bold;
  margin-top: 0;
}


/* CODE HIGHLIGHT */
pre {
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  word-break: keep-all;
  word-wrap: normal;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ccc;
}
pre > code {
  white-space: unset
}

/* CODE COPY HEADER*/
.code-header {
  box-sizing: content-box;
  background-color: #f2f2f2;
  color: #171717;
  display: flex;
  flex-direction: row;
  border: 1px solid #e3e3e3;
  border-bottom: 0;
  margin-top: 16px;
  min-height: 30px;
}

.tabGroup section[role="tabpanel"] .code-header {
  margin-left: -16px;
  margin-right: -16px;
}

.tabGroup section[role="tabpanel"] .code-header:first-child {
  margin-top: -16px;
}

.code-header > .language {
  padding: 2px 16px;
  flex-grow: 1;
  text-transform: uppercase;
  line-height: 26px;
}

.code-header > .action {
  position: relative;
  padding: 2px 10px;
  background-color: transparent;
  border: 0 solid #e3e3e3;
  border-left-width: 1px;
  color: #171717;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: normal;
}

.code-header .glyphicon {
  margin-right: 0.25em;
}

.code-header > .action:hover {
  background-color: #fafafa;
}

.code-header + pre {
  margin-top: 0;
  border: 1px solid #e3e3e3;
}

.code-header > .action .successful-copy-alert {
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  display: flex;
  background-color: var(--highlight-dark);
  outline-color: #fff;
  color: #fff;
}

.code-header > .action .successful-copy-alert.is-transparent {
  opacity: 0;
  transition: 500ms opacity ease-in-out;
}

/* STYLE FOR IMAGES */

.article .small-image {
  margin-top: 15px;
  box-shadow: var(--card-box-shadow);
  max-width: 350px;
}

.article .medium-image {
  margin-top: 15px;
  box-shadow: var(--card-box-shadow);
  max-width: 550px;
}

.article .large-image {
  margin-top: 15px;
  box-shadow: var(--card-box-shadow);
  max-width: 700px;
}

#logo{
}

#autocollapse .navbar-header {
  height: 60px;
}

@media only screen and (min-width: 600px) {
  .nav {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .sidetoc {
    padding-bottom: 25px;
  }
}

/* STYLE FOR APP BOXES - AH */

img.app-wrapper-item-img{
  max-width: 55%;
  border-radius: 200px;
}

 .app-wrapper{
  margin-bottom: 10px;

}

.app-wrapper-item{
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px;
  height: 100px;
}

.app-wrapper-item-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--font-color);
  margin-bottom: 14px;
}

.is-text {
  color: var(--font-color);
}

.is-text:hover {
  color: #000;
}

@media only screen and (min-width: 768px) {
  .app-wrapper{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
  
  }

  .app-wrapper-item{
    width: 50%;
    flex-basis: 50%;
    max-width: 50%;
    height: 80px;
  }
}

@media only screen and (min-width: 1300px) {
  .app-wrapper-item{
    width: 30%;
    flex-basis: 30%;
    max-width: 33.33%;
    
  }
}

.app-wrapper-item-inner{
  position: relative;
  background-color: #fff;
  padding: 10px 10px;
  text-align: center;
  height: 100%;
  -webkit-box-shadow: 0px 7px 20px var(--overview-app-shadow);
    -khtml-box-shadow: 0px 7px 20px var(--overview-app-shadow);
    -moz-box-shadow: 0px 7px 20px var(--overview-app-shadow);
    -ms-box-shadow: 0px 7px 20px var(--overview-app-shadow);
    -o-box-shadow: 0px 7px 20px var(--overview-app-shadow);
    box-shadow: 0px 7px 20px var(--overview-app-shadow);
}

.custom-button{
  color: var(--highlight-dark);
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, 0);
}

.custom-button:hover{
  color: var(--highlight-light);
}

.app-wrapper-item-img{
  margin-bottom: 20px;
}

.app-wrapper-item-inner-headline{
  margin-bottom: 5px;
}

/* ICONS */

.ms-Icon{
  vertical-align: bottom;
}

/* Right Navigation Scroll fix */

.affix{
  overflow: auto;
}

.affix ul > li.active > ul,
.affix ul > li.active > a:before,
.affix ul > li > a:hover:before {
  white-space: inherit;
}


.affix > ul.level1{
  overflow: auto;
  height: auto;
}

.sideaffix {
  bottom: 10px !important;
}

/* Image shadowing */

p > img {
  -webkit-box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.56);
  -khtml-box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.56);
  -moz-box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.56);
  -ms-box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.56);
  -o-box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.56);
  box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.56);
  box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.56);
}
code{
  color:#171717;
  background-color:#e3e3e3;
  border-radius:4px;
}


/* FOOTER */

.footer-anchor {
  color: var(--highlight-dark);
}

.footer-anchor:hover {
  color: var(--highlight-light);
}

/* #logo */

svg:hover path {
  fill: #000;
}

/* Media queries */ 

@media only screen and (max-width: 768px) {
  .toc {
    padding: 0 0 20px 10px;
  }

  .sidefilter {
    padding-left: 20px;
  }

  .collapsed .collapse.in .navbar-form {
    width: 100%;
  }

  .navbar-form {
    width: 100%;
    margin: 0;
  }

  .custom-button{
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
  }
} 